.navbg {
  background-color: var(--white);
  box-shadow: var(--boxShadow);
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  font-size: 25px !important;
}

.link {
  color: var(--grey) !important;
  font-weight: 200 !important;
}

.button {
  margin-left: 2rem;
  border: 2px solid var(--yellow) !important;
  color: var(--yellow) !important;
  background-color: white !important;
  transition: transform 0.9s ease;
}

.button:hover {
  color: var(--white) !important;
  background-color: var(--yellow) !important;
  transform: translateY(-3px);
}


/* Mobile screens */
@media screen and (max-width: 480px) {
  #nav-links{
    display: none;
  }
}

.hamburger-menu {
  display: none; /* Hide the button by default */
}

@media (max-width: 768px) { /* Apply styles for screens smaller than 768px */
  .hamburger-menu {
    display: block; /* Show the button */
    background: transparent; /* Transparent background */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Position the button */
    top: 10px;
    right: 10px;
  }
}
