.blog-custom-card{
    border-radius: 30px !important;
    box-shadow: var(--boxShadow);
}
.blog-custom-card2{
    border-radius: 30px 30px 0px 0px !important;
}

.b-read{
    color: var(--yellow);
}

.blog-btn{
    padding: 10px 5rem !important;
    transition: transform 0.9s ease;
 }

 .blog-btn:hover{
    border: 2px solid var(--yellow) !important;
    color: var(--yellow) !important;
    background-color: var(--white) !important;
    transform: translateY(-3px);
 }