* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --yellow: #e59500;
  --white: #fff;
  --black: #000;
  --grey: #242d29;
  --boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --btnShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

button {
  border-radius: 20px !important;
  border: none !important;
  background-color: var(--yellow) !important;
  font-size: 16px !important;
  padding: 8px 28px !important;
}

